.barChartContainer {
  width: 95%;
  height: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.polarChart {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (min-width: 400px) {
  .barChartContainer {
    height: 328px;
  }
}

@media screen and (min-width: 760px) {
  .barChartContainer {
    height: 424px;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
  .barChartContainer {
    height: 574px;
  }
}
