.landingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("../../public/split_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contentLandingPage {
  display: flex;
  width: 100vw;
  height: 95vh;
}

.leftLandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  height: 100%;
  width: 50%;
}

.leftLandingPage h1 {
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  animation: slide-in-left 1s linear 0s 1 normal none;
  letter-spacing: 8px;
  text-shadow: -12px 0px 12px rgba(0, 0, 0, 0.2);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.rightLandingPage {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slide-in-right 1s linear 0s 1 normal none;
}

.rightLandingPage h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.rightLandingPage .likeSVG {
  fill: white;
  letter-spacing: 8px;
  height: 384px;
  width: 384px;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.landingPageFooter {
  display: flex;
  width: 99vw;
  height: 5vh;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: right;
}

.landingPageFooter a {
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

.landingPageFooter a:hover {
  color: black;
}

.buttonLandingPage {
  background-color: transparent;
  border: 3px solid #000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.05em;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  animation: slide-in-left 1s linear 0s 1 normal none;
}

.buttonLandingPage::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.buttonLandingPage .text {
  font-size: 1.25em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.buttonLandingPage:hover {
  color: #fff;
  background: black;
}

.buttonLandingPage:hover::before {
  width: 0.9375rem;
  background: #fff;
}

.buttonLandingPage:hover .text {
  color: #fff;
  padding-left: 1.5em;
}

@media screen and (max-width: 1560px) {
  .leftLandingPage h1 {
    font-size: 80px;
  }

  .rightLandingPage .likeSVG {
    height: 256px;
    width: 256px;
  }

  .rightLandingPage h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .landingPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("../../public/split_background_vertical.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contentLandingPage {
    flex-direction: column;
  }

  .leftLandingPage,
  .rightLandingPage {
    width: 100vw;
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  .buttonLandingPage {
    font-size: 0.9rem;
  }

  .leftLandingPage h1 {
    font-size: 64px;
  }

  .rightLandingPage .likeSVG {
    height: 256px;
    width: 256px;
  }

  .rightLandingPage h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 470px) {
  .leftLandingPage h1 {
    font-size: 56px;
  }

  .rightLandingPage .likeSVG {
    height: 200px;
    width: 200px;
  }

  .rightLandingPage h1 {
    font-size: 32px;
  }

  .landingPageFooter {
    text-align: center;
  }

  .landingPageFooter h1 {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .leftLandingPage h1 {
    font-size: 48px;
  }

  .rightLandingPage .likeSVG {
    height: 156px;
    width: 156px;
  }

  .rightLandingPage h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 360px) {
  .leftLandingPage h1 {
    font-size: 40px;
  }

  .rightLandingPage h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 300px) {
  .leftLandingPage h1 {
    font-size: 32px;
  }

  .rightLandingPage .likeSVG {
    height: 156px;
    width: 156px;
  }

  .rightLandingPage h1 {
    font-size: 24px;
  }
}

@media screen and (max-height: 650px) {
  .leftLandingPage {
    gap: 32px;
  }
}
