.vscode
backend/__pycache__
backend/.env
deprecated-code/sentiment-analysis/.env
deprecated-code/sentiment-analysis/sentiment_venv
archive_System/.env
archive_System/archive_venv
backend/models/__pycache__
backend/routes/__pycache__
backend/app.log
crud_functions_deprecated.py
feedback_venv
docker/.env
gmailSecret.txt
nginx
auto-deploy.sh