.vscode
archive-system/.env
archive-system/archive_venv
crud_functions_deprecated.py
fiesc-build/.env
gmailSecret.txt
nginx
auto-deploy.sh
deprecated-code/backend-old/.env
deprecated-code/sentiment-analysis/.env
deprecated-code/sentiment-analysis/sentiment_venv