@media screen and (max-width: 768px) {
  .chartContainer {
    height: 26.125rem;
    padding: 0;
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 500px) {
  .chartContainer {
    padding: 0;
    margin-left: 10px;
    height: 18.75rem;
  }
}