.dropdown {
  width: fit-content;
}

.dropbtn {
  background-color: transparent;
  color: white;
  width: 130px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  z-index: 1001;
  border-radius: 16px;
}

.dropdownContent button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 16px;
}

.dropdownContent button:hover {
  cursor: pointer;
  background-color: #bebebe;
}

.dropdown:hover .dropdownContent {
  display: block;
}

@media screen and (max-width: 650px) {
  .dropdown {
    position: relative;
    left: 0;
    top: 75px;
  }

  .dropbtn {
    border-radius: 5px;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(97, 96, 96, 0.2);
  }
}

@media screen and (max-height: 830px) {
  .dropdown {
    position: relative;
    left: 0;
    top: 40px;
  }
}
