.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.4rem 0;
}

.progressBar {
  margin: 0 0.3rem;
  min-width: 14rem;
}

.textM {
  font-size: 1.2rem;
  min-width: 4rem;
}

.textMM {
  font-size: 1.2rem;
  min-width: 3.5rem;
}