bleach>=6.1.0
Flask>=3.0.0
Flask_Cors>=4.0.0
Flask_JWT_Extended>=4.5.3
Flask_Limiter>=3.5.0
flask_sqlalchemy>=3.1.1
python-dotenv>=1.0.0
SQLAlchemy>=2.0.22
yagmail>=0.15.293
psycopg2-binary
pymongo>4.1,<5
motor>=3,<4