@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

* {
  font-family: "Montserrat", sans-serif !important;
}

/*#region landing-page*/

.landing-page-container {
  background-color: #0040C1;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.title-landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #fff;
}

.landing-page-logo {
  margin-right: 20px;
  width: 90px;
  height: 90px;
}


.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #0051f4;
}

.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}


.button-landing-page {
  background-color: transparent;
  border: 3px solid #000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.05em;
  margin-top: 24px;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 17px;
}

.button-landing-page::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.button-landing-page .text {
  font-size: 1.25em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.button-landing-page .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.button-landing-page .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.button-landing-page .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.button-landing-page:hover {
  color: #fff;
  background: black;
}

.button-landing-page:hover::before {
  width: 0.9375rem;
  background: #fff;
}

.button-landing-page:hover .text {
  color: #fff;
  padding-left: 1.5em;
}

.button-landing-page:hover .top-key {
  left: -2px;
  width: 0px;
}

.button-landing-page:hover .bottom-key-1,
.button-landing-page:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/*#endregion*/

/*#region cards selection*/

#profesor-selection {
  min-height: 100vh;
  background-color: #EFEFEF;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 40px 0;

}

.slide-container {
  margin: -60px 40px -40px 40px;
  overflow: hidden;
  border-radius: 25px;
  padding: 60px 0;
}

.card {
  border-radius: 25px;
  perspective: 500px;
  width: 267px;
  height: 430px;

}

.content {
  background-color: #FFF;
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card.flipped .content {
  transform: rotateX(180deg);

}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: rotateX(180deg);
}

.flip-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  /* transform: translateX(-50%); */
  background-color: #03446A;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.courses-list {
  align-self: center;
  text-align: center;
  margin-top: 20px;
  height: 225px;
  overflow-y: auto;
}

.courses-list li {
  line-height: 2;
}

.courses-list::-webkit-scrollbar {
  width: 12px;
}

.courses-list::-webkit-scrollbar-thumb {
  background-color: #6E93f7;
  border: 4px solid white;
  background-clip: padding-box;
  border-radius: 9999px;
}

.button-courses {
  width: 200px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-bottom: 5px;
}

.button-courses:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-courses:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-courses:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding: 10px;
  text-align: center;
  height: 40px;
  margin-right: 14px;
  margin-left: 14px;
}

.title-curs {

  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: #c3c3c3 1px solid;

}

.button-card {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.button-card:hover {
  background: #265DF2;
}

.back-button {
  align-self: center;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}



/*#endregion*/

.header-title {
  padding: 20px;
  font-size: 40px;
  color: #fff;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}

.inner-header {
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}



/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}


#page-container {
  position: relative;
  min-height: 100vh;
}


#content-wrap {
  padding-bottom: 40px;
}

#copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 12px;
}

.copy-right a {
  color: #0c929c;

}

#infoCurs {
  background-color: #EFEFEF;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  padding: 15px;
}

.item1 {
  width: 800px;
  height: 600px;
  margin-right: 60px;
  margin-bottom: 20px;
}


.stars {
  font-size: 33px;
  color: #4070F4;
}

#nota-medie {
  font-size: 30px;
}

#media-title {
  font-size: 30px;
}

.progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.progress-bar {
  flex-grow: 1;
  height: 8px;
  background-color: #ccc;
  margin: 0 5px;
  max-width: 250px;
}

.progress-fill {
  height: 100%;
  background-color: #4070F4;

}

.text-m {
  font-size: 20px;
}





@media screen and (max-width: 768px) {
  .waves {
    height: 60px;
    min-height: 40px;
  }

  .text-title-landing-page {
    font-size: 24px;
  }
}



@media screen and (max-height: 780px) {
  .card {
    height: 400px;
  }

}

@media screen and (max-height: 700px) {
  .swiper-pagination {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .swiper-navBtn {
    display: none;
  }

  .slide-container {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}



@media screen and (max-width: 1191px) {
  .flex-container {
    flex-direction: column;
  }

  .item1 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .item1 {
    padding: 0;
    margin: 0;
    height: 450px;
  }
}

@media screen and (max-width: 450px) {
  .item1 {
    padding: 0;
    margin: 0;
    height: 300px;
  }
}