.subjectsPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

.content {
  width: 100vw;
  margin-top: 16px;
  flex-grow: 1;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}
.titleContainer {
  text-align: center;
  margin-bottom: 15px;
}
.professorName {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}
.courseName {
  margin-top: 2px;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 650px;
}
.chartContainer {
  width: 60%;
  padding-left: 8px;
  max-height: 650px;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  gap: 10px;
  height: 650px;
}
.pieChart {
  width: 380px;
  height: 380px;
  display: flex;
  justify-content: center;
}

.notFoundContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
  font-size: 64px;
  font-weight: 600;
}

.infoSVG {
  fill: black;
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 1450px) {
  .dataContainer {
    height: 600px;
  }
  .chartContainer {
    width: 65%;
    height: 600px;
  }

  .rightContainer {
    width: 35%;
    height: 600px;
  }
  .pieChart {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 1100px) {
  .dataContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .chartContainer {
    height: 500px;
    padding-left: 0;
    width: 95%;
  }
  .rightContainer {
    width: 100%;
    height: auto;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .pieChart {
    width: 50%;
    flex-shrink: 1;
  }
}
@media screen and (max-width: 768px) {
  .rightContainer {
    margin-top: 15px;
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
  }
  .pieChart {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 420px) {
  .pieChart {
    width: 350px;
    height: 350px;
  }
}
