.pageContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  background-color: #f0f0f0;
  gap: 32px;
  flex-wrap: wrap;
}

.chartsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.commentsContainer {
  display: flex;
  gap: 32px;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.commentsContainer h1 {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 400px) {
  .pageContainer {
    gap: 48px;
  }

  .commentsContainer h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 760px) {
}

@media screen and (min-width: 1024px) {
  .chartsContainer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .commentsContainer h1 {
    font-size: 2.5rem;
  }

  .commentsContainer {
    max-width: 95%;
    text-align: center;
    margin-bottom: 16px;
  }

  .masonry {
    column-count: 3;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .pageContainer {
    align-items: flex-start;
  }
}
