.pageContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  background-color: #f0f0f0;
  gap: 32px;
  flex-wrap: wrap;
}

.chartsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.professorClasses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.professorClasses h1 {
  margin: 0;
  text-align: center;
  width: 100%;
}

.classesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 400px) {
  .pageContainer {
    gap: 48px;
  }

  .professorClasses {
    gap: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 760px) {
  .professorClasses h1 {
    font-size: 2.75rem;
  }

  .classesList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .pageContainer {
    align-items: flex-start;
  }
  .professorClasses h1 {
    font-size: 3rem;
  }
  .chartsContainer {
    flex-direction: row;
    width: 50%;
  }

  .professorClasses {
    width: 45%;
  }

  .classesList {
  }
}

@media screen and (min-width: 1280px) {
}
