.middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

.loginAdmin {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.adminTitle {
  font-weight: 900;
  font-size: 2rem;
  color: #1DA1F2;
  letter-spacing: 1px;
  text-align: center;
}

.buttonContainer {
  height: 13vh;
  display: flex;
  justify-content: center;
}