.mainContiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  height: 100dvh !important;
  width: 100vw;
}
.wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #007fff, #68aff7);
}
.form {
  padding: 10px 20px 50px 20px;
}
.field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.input,
.select {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.select {
  width: calc(100% + 4px);
}
.input:focus,
.input:valid,
.select:focus,
.select:valid {
  border-color: #4158d0;
}
.select {
  appearance: none;
}
.select:hover {
  cursor: pointer;
}
.label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #4158d0;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.input:focus ~ .label,
.input:valid ~ .label,
.select:focus ~ .label,
.select:valid ~ .label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

.errorContainer {
  margin-top: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: red;
  font-weight: 700;
}
.content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: right;
}

.input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #68aff7, #007fff);
  transition: all 0.3s ease;
}

.signupLink {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
.button {
  background-color: white;
  border: none;
  color: #3a98d8;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  color: #0d6efd;
}
@media screen and (max-width: 400px) {
  .wrapper {
    width: 340px;
  }
}
