.professorsPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 10px;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 85%;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
  font-size: 64px;
  font-weight: 600;
}

.infoSVG {
  fill: black;
  width: 64px;
  height: 64px;
}

.secondaryDropdown {
  display: none;
}

@media screen and (max-width: 850px) {
  .secondaryDropdown {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .cont {
    height: 83.05vh;
  }
}

@media screen and (max-width: 400px) {
  .searchBar {
    height: 15%;
  }
}
