.rowContainer {
  display: flex;
  flex-direction: column;
  height: 74vh;
  justify-content: center;

}

.searchBar {
  align-self: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .rowContainer {
    height: 83vh;
  }
}