.containerCol {
  display: flex;
}

.containerRow {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.commentsContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}


.chartContainer {

  width: 50%;
  min-width: 900px;
  flex-shrink: 0;
  padding-top: 2rem;
  height: 640px;
}

.cont {
  width: 100vw;
  height: 74vh;
  display: flex;
  position: relative;
}

.noFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 15vh;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1350px) {

  .chartContainer {
    min-width: 700px;
    height: 540px;
  }

  .noFoundContainer {
    width: 90vw;
  }
}

@media screen and (max-width: 1150px) {
  .chartContainer {
    min-width: 95%;
    height: 600px;
  }

  .containerCol {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerRow {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .chartContainer {
    height: 500px;
  }

  .commentsContainer {
    margin: 2rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .cont {
    height: 83vh;
  }
}

@media screen and (max-width: 700px) {
  .containerRow {
    flex-direction: column;
    justify-content: center;
  }
}