.containerCol {
  display: flex;
}

.containerRow {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.commentsContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}


.chartContainer {

  width: 50%;
  min-width: 900px;
  flex-shrink: 0;
  padding-top: 2rem;
  height: 640px;
}


@media screen and (max-width: 1350px) {

  .chartContainer {
    min-width: 700px;
    height: 540px;
  }
}

@media screen and (max-width: 1150px) {
  .chartContainer {
    min-width: 95%;
    height: 600px;
  }

  .containerCol {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerRow {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .chartContainer {
    height: 500px;
  }

  .commentsContainer {
    margin: 2rem 2rem;
  }
}

@media screen and (max-width: 700px) {
  .containerRow {
    flex-direction: column;
    justify-content: center;
  }
}