.facultyStatistic {
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.facultyStatistic h1 {
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0;
  color: var(--main-blue-dark);
}

.facultyStatistic h2 {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .facultyStatistic h1 {
    font-size: 2rem;
  }

  .facultyStatistic h2 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .facultyStatistic h1 {
    font-size: 3rem;
  }

  .facultyStatistic h2 {
    font-size: 2rem;
  }
}
