.pageContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  background-color: white;
}

.statistics {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 300px;
}

.professorsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  max-width: 1024px;
  margin: 0 0 16px 0;
}

.notFound {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .statistics {
    width: 400px;
    gap: 32px;
    margin: 16px 8px;
  }

  .professorsList {
    gap: 32px;
  }
}

@media screen and (min-width: 760px) {
  .professorsList {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .statistics {
    width: 800px;
    gap: 128px;
  }

  .listName {
    font-size: 3rem;
    margin-top: 24px;
  }

  .professorsList {
    gap: 48px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .statistics {
    margin: 48px 8px 48px 8px;
  }

  .professorsList {
    max-width: 1920px;
  }
}
