.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 100%;
  min-height: 33px;
  max-height: 33px;
  color: white;
  font-size: 0.8rem;
}

.footerAuthors {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.footerAuthors a {
  text-decoration: none;
  color: white;
  transition: color 0.15s ease-in-out;
}

.footerAuthors a:hover {
  color: #0040c1;
}

@media screen and (max-width: 350px) {
  .footer {
    display: none;
  }
}
