.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  flex: 7%;
}
.chartContainer {
  flex: 93%;
}

.button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.selectedButton {
  color: black;
}

.selectContainer {
  display: none;
}
.select {
  display: flex;
  text-align: center;
  padding: 3px;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  border: 1px solid lightgrey;
  width: 150px;
  transition: all 0.2s ease-in-out;
}
.select:hover {
  cursor: pointer;
  background-color: #c9d1da;
}
.option {
  text-align: center;
  background-color: lightgrey;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 15px;
    padding: 0.5em 1.2em 0.5em 0.9em;
  }
}
@media screen and (max-width: 660px) {
  .selectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .buttonsContainer {
    display: none;
  }
}
