.ratingOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  margin-top: 50px;
}
.title {
  font-size: 24px;
  margin-bottom: 20px;
}
