.scrollButton {
  text-decoration: none;
  background: var(--main-blue-dark);
  color: white;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  animation: pulse-shadow 2s infinite alternate-reverse ease-in-out;
  transition: transform 0.2s ease-in-out;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: 0 0 16px var(--main-blue-dark);
  }
}

@media screen and (min-width: 400px) and (min-height: 700px) {
  .scrollButton {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 760px) and (min-height: 880px) {
  .scrollButton {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .scrollButton:hover {
    transform: scale(1.025);
  }
}
