.gradientBox {
  height: 240px;
  width: 240px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 16px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 5deg;
  transition: all 0.2s ease-in-out;
}

.facultySelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 224px;
  width: 224px;
  border-radius: 16px;
  padding: 4px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  background-color: white;
  color: black;
  rotate: -7deg;
  transition: all 0.2s ease-in-out;
}

.facultyLogo {
  height: 88px;
  width: auto;
}

.facultySelector h1 {
  padding: 8px 0 8px 0;
  margin: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.arrowLink {
  height: fit-content;
  width: fit-content;
}

.arrowButton {
  width: auto;
  height: 48px;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 400px) {
  .gradientBox {
    height: 280px;
    width: 280px;
  }

  .facultySelector {
    height: 264px;
    width: 264px;
  }

  .facultyLogo {
    height: 104px;
  }

  .facultySelector h1 {
    font-size: 1.25rem;
  }

  .arrowButton {
    height: 56px;
  }
}

@media screen and (min-width: 760px) and (min-height: 880px) {
  .gradientBox {
    height: 368px;
    width: 368px;
  }

  .facultySelector {
    height: 344px;
    width: 344px;
  }

  .facultyLogo {
    height: 128px;
  }

  .facultySelector h1 {
    font-size: 1.5rem;
  }

  .arrowButton {
    height: 72px;
  }
}

@media screen and (min-width: 1280px) {
  .facultySelector:hover {
    transform: rotate(-2deg);
  }

  .gradientBox:hover {
    transform: rotate(4deg);
  }

  .arrowButton:hover {
    transform: scale(1.05);
  }
}
