.dropdown {
  width: fit-content;
}

.dropbtn {
  background-color: transparent;
  color: white;
  width: 160px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.dropbtn:hover {
  border: none;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #0070e0;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1001;
  border-radius: 16px;
  text-align: center;
}

.buttonArchive {
  background-color: transparent;
  border: none;
  font-size: 20px;
  width: 80%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 16px;
}

.buttonArchive:hover {
  cursor: pointer;
  background-color: #bebebe;
}

.dropdown:hover .dropdownContent {
  display: block;
}

@media screen and (max-width: 850px) {
  .dropbtn {
    color: black;
  }
}
