.header {
  background-color: #007fff;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLeft {
  width: 25%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 8px;
}

.headerCenter {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-size: 2.5rem;
  color: #fff;
}

.headerTitle a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: font-size 0.3s ease;
}

.headerTitle a:hover {
  font-size: 2.6rem;
}

.headerRight {
  width: 25%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 16px;
}

.headerRight .adminSVG {
  fill: white;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease-in-out;
}

.headerRight .adminSVG:hover {
  fill: #bebebe;
}

@media screen and (max-width: 850px) {
  .headerLeft,
  .headerRight {
    display: none;
  }
  .headerCenter {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .headerTitle a {
    font-size: 32px;
  }

  .headerTitle a:hover {
    font-size: 34px;
  }
}
