.card {
  border-radius: 24px;
  perspective: 500px;
  width: 340px;
  height: 540px;
}

.content {
  background-color: #fff;
  border-radius: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card.flipped .content {
  transform: rotateX(180deg);
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  display: flex;
  flex-direction: column;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateX(180deg);
}

.flipButton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background-color: #0040c1;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.coursesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 75%;
  overflow-y: auto;
  gap: 12px;
}

.coursesList li {
  line-height: 2;
}

.coursesList::-webkit-scrollbar {
  width: 12px;
}

.coursesList::-webkit-scrollbar-thumb {
  background-color: #6e93f7;
  border: 4px solid white;
  background-clip: padding-box;
  border-radius: 9999px;
}

.imageContent,
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
}

.imageContent {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  background-color: #0040c1;
  border-radius: 24px;
  height: 40%;
}

.cardContent {
  height: 60%;
}

.cardImage {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: #fff;
  padding: 2px;
  -webkit-box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.5);
}

.cardImage .cardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  padding: 10px;
  height: 40px;
  text-align: center;
  margin-right: 14px;
  margin-left: 14px;
}

.titleCurs {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: #c3c3c3 1px solid;
  height: 5%;
}

.buttonCard {
  border: none;
  font-size: 20px;
  color: #fff;
  padding: 8px 16px;
  background-color: #0040c1;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

.con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 1px;
  border-radius: 50%;
  border: 2px solid #0040c1;
  font-weight: 800;
}

.buttonCard:hover {
  background: #007fff;
}

.backButton {
  font-size: 20px;
  align-self: center;
  height: 10%;
}

@media screen and (max-width: 450px) {
  .card {
    width: 310px;
  }
  .name {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 280px;
    height: 500px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 267px;
    height: 450px;
  }

  .imageContent {
    height: 30%;
  }

  .cardImage {
    height: 128px;
    width: 128px;
  }
}

@media screen and (max-width: 350px) {
  .card {
    width: 230px;
    height: 420px;
  }
  .cardImage {
    height: 112px;
    width: 112px;
  }
}

@media screen and (max-height: 780px) and (min-width: 350px) {
  .card {
    width: 260px;
    height: 420px;
  }
  .imageContent {
    height: 30%;
  }
  .cardImage {
    height: 104px;
    width: 104px;
  }
}
