.buttonCourses {
  display: inline-block;
  text-decoration: none;
  width: 256px;
  height: 45px;
  background-color: #007fff;
  border-radius: 8px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
  margin-top: 4px;
  padding-top: 4px;

  color: white;
}

.buttonCourses:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.buttonCourses:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonCourses:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.titleCurs {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: #c3c3c3 1px solid;
  height: 5%;
}

.coursesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 75%;
  overflow-y: auto;
  gap: 12px;
}

.coursesList li {
  line-height: 2;
}

.coursesList::-webkit-scrollbar {
  width: 12px;
}

.coursesList::-webkit-scrollbar-thumb {
  background-color: #6e93f7;
  border: 4px solid white;
  background-clip: padding-box;
  border-radius: 9999px;
}

@media screen and (max-width: 375px) {
  .buttonCourses {
    width: 225px;
    font-size: 14px;
  }
}
