.starRating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.starRating h1 {
  margin: 0;
  font-size: 1rem;
}

.starRating .starImage {
  height: 28px;
  width: auto;
}

.starRating h2 {
  margin: 0;
  font-size: 2rem;
}

@media screen and (min-width: 400px) {
  .starRating h1 {
    font-size: 1.25rem;
  }
  .starRating h2 {
    font-size: 2.25rem;
  }

  .starRating .starImage {
    height: 36px;
    width: auto;
  }
}

@media screen and (min-width: 760px) {
  .starRating h1 {
    font-size: 1.5rem;
  }
  .starRating h2 {
    font-size: 2.5rem;
  }

  .starRating .starImage {
    height: 40px;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .starRating h1 {
    font-size: 2rem;
  }
  .starRating h2 {
    font-size: 2.75rem;
  }

  .starRating .starImage {
    height: 48px;
    width: auto;
  }
}
