.starRating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.starRating.defaultRating .rating .starImage {
  height: 28px;
  width: auto;
}

.starRating.defaultRating .rating h2 {
  margin: 0;
  font-size: 1.75rem;
}

.starRating.smallRating .rating .starImage {
  height: 20px;
  width: auto;
}

.starRating.smallRating .rating h2 {
  margin: 0;
  font-size: 1.25rem;
}

@media screen and (min-width: 400px) {
  .starRating.defaultRating .rating h2 {
    font-size: 2.25rem;
  }

  .starRating.defaultRating .rating .starImage {
    height: 36px;
    width: auto;
  }
}

@media screen and (min-width: 760px) {
  .starRating.defaultRating .rating h2 {
    font-size: 2.5rem;
  }

  .starRating.defaultRating .rating .starImage {
    height: 40px;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .starRating.defaultRating .rating h2 {
    font-size: 2.75rem;
  }

  .starRating.defaultRating .rating .starImage {
    height: 48px;
    width: auto;
  }
}

@media screen and (min-width: 400px) {
  .starRating.smallRating .rating .starImage {
    height: 24px;
    width: auto;
  }

  .starRating.smallRating .rating h2 {
    margin: 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 760px) {
  .starRating.smallRating .rating h2 {
    font-size: 2rem;
  }

  .starRating.smallRating .rating .starImage {
    height: 28px;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .starRating.smallRating .rating h2 {
    font-size: 2rem;
  }

  .starRating.smallRating .rating .starImage {
    height: 36px;
    width: auto;
  }
}
