.cardLink {
  text-decoration: none;
  color: black;
}

.cardLink .cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  transition: all 0.3s ease-in-out;
}

.avatarContainer {
  border-radius: 8px 0 0 8px;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue-dark);
}

.professorAvatar {
  width: 90%;
  height: auto;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  background-color: white;
  border-radius: 0 8px 8px 0;
}

.infoContainer h1 {
  font-size: 1.15rem;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .cardLink .cardContainer {
    width: 380px;
    height: 120px;
  }

  .infoContainer h1 {
    font-size: 1.3rem;
  }

  .arrowButton {
    width: 48px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .cardLink .cardContainer {
    width: 464px;
    height: 144px;
  }

  .infoContainer h1 {
    font-size: 1.65rem;
  }

  .arrowButton {
    width: 64px;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 1280px) {
  .cardLink .cardContainer:hover {
    box-shadow: 0px 4px 4px var(--main-blue-dark),
      0px 12px 12px var(--main-blue-light);
    transform: scale(1.001);
  }
}
